@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,600;1,700;1,800&display=swap');

*{margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

.container-header{
  width:100%;
  height:80vh;
  margin: 0 auto;
  background-image: url(../img/wepik-export-20231130144445XFU7.png);
  padding: 10px;
  background-size: 900px 600px ;
  background-repeat: no-repeat;
  background-position: bottom right;
  
 

}

.container-header-menu{
 display:flex;
 flex-direction:row;
 justify-content:space-evenly;
 margin: 3% auto;
}

.container-menu ul{
 display:flex;
 gap:5rem;
}


.container-menu ul li{
  list-style:none;
  color: black;
}

.container-menu ul li a{
  text-decoration: none;
  color: black;
}





.container-login{
  display: flex;
  gap: 1rem;
}

.container-menu ul li:nth-child(1){
  display: none;
}

.container-login a{
  text-align: center;
  width: 80px;
  height: 35px;
  background-color: rgba(217, 217, 217, 0.80);;
  text-decoration:none;
  color:black;
  border-radius: 40px;
}


.container-login a i:nth-child(2){
  font-size: 35px;
  color: white;
}

.container-login a:nth-child(3){
  background-color: rgba(217, 217, 217, 0.80);
}

.container-login i:nth-child(1){
  display: none;
}
.header-b{
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.header-b-title{
  color: #49BBBD;
  text-align: center;
  margin-top: 2%;
}

.header-b-title span{
  color:#006F71;
}

.header-buscar{
  display:flex;
  width:100%;
  justify-content:center;
  margin-top: 3%;
  gap:1rem;
}

.header-buscar input{
  width:35%;
  height:37px;
  border-radius:20px;
  background-color:rgba(217, 217, 217, 0.8);
  border: 1px solid rgba(217, 217, 217, 0.8);
}

.header-buscar i{
  font-size: 50px;
  color: #006F71;
}

.body-flores{
  width: 100%;
  background-color: rgba(157,204,255,0.4);

}

.body-flores-title{
  display: flex;
  justify-content: space-between;
  padding: 2% 6%; 
}

.body-flores-card{
  width: 100%;
  display: flex;
  justify-content: center;
}

.body-flores-card img{
  width: 100%;
  height: 400px;
}

.body-flores-seta{
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin-right: 6%;
}
.body-flores-seta i{
  font-size: 25px;
  background-color: #9DCCFF;
  padding: 9px 8px;
  border-radius: 7px;
  color: white;
}

.body-local{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4%;
}

.body-local-descricao h2{
  letter-spacing: 8px;
  font-size: 30px;
  margin-bottom: 10%;
}

.body-local-img iframe{
  height: 450px;

}

.body-footer{
  width: 100%;
  background-color: #006F71;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-footer-icon{
  margin: 1% auto;
}
.body-footer-icon img{
  height: 70px;
}

.body-footer-social{
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 1.2% 0;
}

.body-footer-social i{
  font-size: 30px;
  color: white;

}
.body-footer-texto{
  margin: 0 auto;
}





         
@media screen and (max-width:1000px){

  .container-login a{
    display: none;
  }

  .container-login i{
    display: inline;
    font-size: 45px;
    color: white;
  }

  .container-menu ul li{
    display: none;
  }

  .container-menu ul li:nth-child(1){
    display: flex;
    height: 70px;
  }

  .body-flores-card{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "img img img"
    "img img img"
;
  }
  
  .body-flores-card img{
    width: 100%;
    height: 300px;
  }
  
  .body-flores-seta{
  display: none;
  }

  .body-local{
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  
  .header-b{
 
    gap: 3rem ;
  
  }

  .header-buscar input{
    width: 70%;
  }


  .container-logo h2 {
    display: none;
  }

  .body-local-img iframe{
    height: 250px;
    width: 90%;
  
  }

  .container-logo img{
    display: none;
  }
}