@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variable{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html{
    font-size:14px;
}

body{
    width: 100vw;
    height:100vh;
    font-family:'Poppins',sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: rgb(236, 236, 236);
}

a{
    color: var(--color-dark);
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    object-fit:cover;
}

h1{
    font-weight:800;
    font-size:1.8rem;
}
h2{
    font-weight:600;
    font-size:1.4rem;
}
h3{
    font-weight:500;
    font-size:0.87rem;
}

small{
    font-size:0.76rem;
}

p{
    color:var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}
.blue{
    color:#6C9BCF;
}
.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color:var(--color-danger);
}

.success{
    color:var(--color-success);
}
.warning{
    color: var(--color-warning);
}


a{
  color: var(--color-dark);
}

img{
  display: block;
  width: 100%;
  object-fit:cover;
}

h1{
  font-weight:800;
  font-size:1.8rem;
}
h2{
  font-weight:600;
  font-size:1.4rem;
}
h3{
  font-weight:500;
  font-size:0.87rem;
}

small{
  font-size:0.76rem;
}

p{
  color:var(--color-dark-variant);
}

b{
  color: var(--color-dark);
}
.blue{
  color:#6C9BCF;
}
.text-muted{
  color: var(--color-info-dark);
}

.primary{
  color: var(--color-primary);
}
.danger{
  color:var(--color-danger);
}

.success{
  color:var(--color-success);
}
.warning{
  color: var(--color-warning);
}



.ccontainer{
  display:grid;
  width: 96%;
  gap:1.8rem;
  grid-template-columns: 15rem auto;
}

.container {
  margin-left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}


aside{
 height: 100%;
 margin-top: 2%;
 margin-left:2%;
}

aside .toggle{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:3rem;
}

aside .close{
  padding-right:1rem;
  display:none;
}

aside .sidebar{
  display:flex;
  flex-direction:column;
  background-color:var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height:88vh;
  position:relative;
  cursor:pointer;
  transition: all 0.3s ease;
}

aside .sidebar:hover{
  box-shadow: none;
}

aside .sidebar a{
  display:flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 3rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a h3{
  font-size: 1.2rem;
}

aside .sidebar a span{
  font-size: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active{
  width: 100%;
  color: var(--color-primary);
  background-color:var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before{
  content:'';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary); 
}

aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
  color:var(--color-primary);
} 

aside .sidebar a:hover span{
  margin-left:0.6rem;
}

aside .sidebar .message-count{
  background-color:var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size:11px;
  border-radius:var(--border-radius-1);
}



button {
  cursor: pointer;
}



.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;

}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
}

.divTable {
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
  background-color: white;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  font-size: 15px;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
  font-size: 15px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}

@media screen and (max-width:1200px){
  .ccontainer{
      width: 95%;
      grid-template-columns: auto;
  }

  aside .logo h2{
      display: none;
  }

  aside .sidebar h3{
      display: none;
  }

  aside .sidebar a{
      width: 5.6rem;
  }

  aside .sidebar a:last-child{
      position:relative;
      margin-top:1.8rem;
  }


}



@media screen and (max-width:768px){
  .ccontainer{
      width: 100%;
      grid-template-columns:1fr;
      padding: 0;
  }

  aside{
      position:fixed;
      background-color: var(--color-white);
      width: 15rem;
      z-index:3;
      box-shadow: 1rem 3rem 4rem var(--color-light);
      height: 100vh;
      left: -100%;
      display: none;
      animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
      to{
          left: 0;
      }
  }

  aside .logo{
     margin-left: 1rem; 
  }

  aside .logo h2{
      display: inline;
  }

  aside .sidebar h3 {
      display: inline;
  }

  aside .sidebar a{
      width: 100%;
      height: 3.4rem;
  }

  aside .sidebar a:last-child{
      position:absolute;
      bottom: 5rem;
  }

  aside .toggle .close{
      display:inline-block;
      cursor:pointer;
  }

  
}